* {
    font-family: 'Roboto', sans-serif; /* Utilise la police Roboto pour tout le document */
}

.hero {
    background: url('../Images/egusi.jpg') no-repeat center center/cover; /* Utilise une image de fond pour la section hero */
    background-size: cover; /* Assure que l'image de fond couvre toute la section hero */
    height: 50vh; /* Définit la hauteur de la section hero */
    display: flex; /* Utilise Flexbox pour centrer le contenu */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    text-align: center; /* Centre le texte */
    color: white; /* Définit la couleur du texte */
    position: relative; /* Position relative pour les éléments enfants */
}

.hero::before {
    content: ""; /* Nécessaire pour créer un pseudo-élément */
    position: absolute; /* Position absolue pour couvrir la section hero */
    top: 0; /* Aligne en haut */
    left: 0; /* Aligne à gauche */
    width: 100%; /* Couvre toute la largeur */
    height: 100%; /* Couvre toute la hauteur */
}

.hero-content {
    position: relative; /* Position relative pour le contenu */
    z-index: 1; /* Assure que le contenu est au-dessus du pseudo-élément */
}

.btn {
    transition: all 0.5s ease; /* Ajoute une transition douce pour les boutons */
}

.btn:hover {
    background-color: bisque; /* Change la couleur de fond au survol */
    color: blueviolet; /* Change la couleur du texte au survol */
    transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
}

.img {
    transition: all 0.5s ease; /* Ajoute une transition douce pour les images */
}

img:hover {
    transform: scale(1.05); /* Agrandit légèrement l'image au survol */
}